@{
    ViewData["Title"] = "Data Analytics";
}
@model List<Crash>

<div class="main">
    <h1 class="myTitle">Data Analytics</h1>
    <h6>Using Domo software we have created </h6>

    <iframe src="https://public.domo.com/embed/pages/NkAw2" width="1248" height="1620" marginheight="0" marginwidth="0" frameborder="0"></iframe>

</div>